body{
    background-color: #333;
    color: #fff;
}
.navbar {
    border-bottom:3px solid #008ed6;
    opacity: 0.8;
}
ul li a{
    color: #fff;
}
.home-inner{ 
    padding-top: 130px;
}
#home-section{
    background: url('../images/bgimage.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
}
.dark-overlay{
    background-color: rgba(0,0,0,0.7);
    min-height: 700px;
    /* position:absolute; */
    top:0;
    left:0;
    width:100%; 
}
.card-body{
    opacity: 0.8;
}
#home-section .fa{
    color: #333;
    background: #fff;
    padding: 4px;
    border-radius:5px;
    font-size: 30px;
}
#create-section .fa{
    color: #333;
    background: #fff;
    padding: 4px;
    border-radius:5px;
    font-size: 30px;
}
#share-section .fa{
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius:5px;
    font-size: 30px;

}

#explore-section .fa{
    
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius:5px;
    font-size: 30px;
}